<footer class="main-footer" style="background-color:#ecf0f5;border:none">


    <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.0
    </div>
    <strong>Copyright &copy; 2018-@DateTime.Now.Year <a href="">@ViewBag.company</a>.</strong>
</footer>