<div class="content-wrapper">
    <div id="small">
        <div id="big">
            <img src="~/image/Test/hmewm.jpg" />
        </div>
    </div>

    <section class="content-header">
        <h1>
            策略
            <small>控制面板</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li class="active">策略</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div id="Indicator" class="form-inline">
                            <div class="form-group">
                                <span class="input-group-addon form-control" type="submit" v-on:click="EnableEdit">日期范围/激活修改</span>
                            </div>
                            <div class="form-group">
                                <input type="text" ref="datemin" id="datemin" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" ref="datemax" id="datemax" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" ref="DateWantSee" id="DateWantSee" class="form-control" @@change="WantSee">
                            </div>
                            <div class="form-group">
                                <select class="form-control" v-model="InOrAfterTrade">
                                    <option value="盘中+盘后">盘中+盘后</option>
                                    <option value="盘中">盘中</option>
                                    <option value="盘后">盘后</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button v-on:click="Refresh" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>刷新
                                </button>
                                <button name="search" v-on:click="searchL" type="submit" class="btn btn-success form-control"><i class="fa fa-search"></i> 搜索</button>
                            </div>
                          
                            <div class="form-group">
                                <button type="button" v-on:click="deleteOperation()" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>删除
                                </button>
                            </div>
                            <button type="button" v-on:click="GetTonghuashunList()" class="btn btn-success">
                                <i class="fa fa-save"></i>加入自选
                            </button>

                            <div style="float:right;font-weight:bold">{{TotalCount}}--Total:{{serverNumber}}</div>
                        </div>




                        <div class="col-xs-12 col-md-12" style="padding-left:0px;padding-right:0px;margin-top:10px;margin-bottom:10px">
                            <textarea v-model="SelfSelectTxt" class="form-control" rows="2"></textarea>
                        </div>



                        <div id="Indicator" class="form-inline" style="display:none">
                            <div class="form-group" style="">
                                <select class="form-control" v-model="procedure">
                                    <option value="">请选择</option>
                                    <option v-for="item in procedurelist" :value="item.ProcedureName">{{item.Order}}-{{item.Remark}}</option>
                                </select>
                            </div>
                       
                        </div>


                        <div class="col-xs-12 col-md-12" style="padding-left:0px;padding-right:0px">
                            <div id="target" class="col-xs-12 col-md-12" style="padding-left:0px;padding-right:0px;margin-top:10px;margin-bottom:10px;">
                                <dl class="permission-list" style="overflow:hidden">
                                    <dt>
                                        日期
                                        <input v-on:click="checkAllOperationDate" type="button" value="全选">
                                        <input v-on:click="RemoveAllOperationDate" type="button" value="清空">
                                    </dt>
                                    <dd>
                                        <dl class="cl permission-list2">
                                            <dt v-for="(item,index) in OperationListDates" style="float:left;margin-left:10px">
                                                <label :class="{'icon-checked': CheckOperationListDates.indexOf(item.CreateDate)!=-1}" @@change="handleLabelClick()">
                                                    <input type="checkbox" v-model="CheckOperationListDates" :value="item.CreateDate">
                                                    {{item.CreateDate}}-{{item.COUNT}}
                                                </label>
                                            </dt>
                                        </dl>
                                    </dd>
                                </dl>
                            </div>
                            <div id="target2" class="col-xs-12 col-md-12" style="padding-left:0px;padding-right:0px;margin-top:10px;margin-bottom:10px;">
                                <dl class="permission-list" style="overflow:hidden">
                                    <dt>
                                        策略
                                        <input v-on:click="checkAllOperationStrategy" type="button" value="全选">
                                        <input v-on:click="RemoveAllOperationStrategy" type="button" value="清空">
                                    </dt>
                                    <dd>
                                        <dl class="cl permission-list2">
                                            <dt v-for="(item,index) in OperationListStrategys" style="float:left;margin-left:10px">
                                                <label :class="{'icon-checked': CheckOperationListStrategys.indexOf(item.Strategy)!=-1}" @@change="handleStategyLabelClick()">
                                                    <input type="checkbox" v-model="CheckOperationListStrategys" :value="item.Strategy">
                                                    {{item.Strategy}}-{{item.COUNT}}
                                                </label>
                                            </dt>
                                        </dl>
                                    </dd>
                                </dl>
                            </div>

                            <div id="target3" class="col-xs-12 col-md-12" style="padding-left:0px;padding-right:0px;margin-top:10px;margin-bottom:10px;">
                                <dl class="permission-list" style="overflow:hidden">
                                    <dt>
                                        标的
                                        <input v-on:click="checkAllOperation" type="button" value="全选">
                                        <input v-on:click="RemoveAllOperation" type="button" value="清空">
                                    </dt>
                                    <dd>
                                        <dl class="cl permission-list2">
                                            <dt v-for="(item,index) in OperationList" style="float:left;margin-left:10px">
                                                <label :class="{'icon-checked': CheckOperationList.indexOf(item.Operation)!=-1}">
                                                    <input type="checkbox" v-model="CheckOperationList" :value="item.Operation">
                                                    {{item.Operation}}-{{item.COUNT}}
                                                </label>
                                            </dt>
                                        </dl>
                                    </dd>
                                </dl>
                            </div>
                       

                            <div class="col-xs-12 col-md-12" style="padding-left:0px;padding-right:0px;margin-top:10px;margin-bottom:10px;">

                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        过滤器2
                                        <input class="form-control" list="SiftParaDataId" v-model="filter2" @@dblclick="ClearSiftParaData2" placeholder="a&b@@c|d    &组￥取非" />
                                        <datalist id="SiftParaDataId">
                                            <option v-for="item in SiftParaDataList">{{item.SiftParaData}}</option>
                                        </datalist>


                                    </div>
                                    <div class="col-xs-12 col-md-12">
                                        过滤器
                                        <input class="form-control" list="SiftParaDataId2" v-model="filter" @@dblclick="ClearSiftParaData" placeholder="a&b@@c|d    &组￥取非" />
                                        <datalist id="SiftParaDataId2">
                                            <option v-for="item in SiftParaDataListForThis">{{item.SiftParaData}}</option>
                                        </datalist>
                                    </div>

                                    <div class="col-xs-12 col-md-3">
                                        5日涨幅
                                        <input type="text" v-model="Section_ThisStock_5DayUp" class="form-control">
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        1月涨幅
                                        <input type="text" v-model="Section_ThisStock_1DayUp" class="form-control">

                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        行业排名
                                        <input type="text" v-model="Section_Section_Rank" class="form-control">
                                    </div>



                                    <div class="col-xs-6 col-md-2">
                                        最近1天
                                        <input type="text" v-model="Day1Amplitude" class="form-control">
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        最近2天
                                        <input type="text" v-model="Day2Amplitude" class="form-control">
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        最近3天
                                        <input type="text" v-model="Day3Amplitude" class="form-control">
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        最近4天
                                        <input type="text" v-model="Day4Amplitude" class="form-control">
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        最近5天
                                        <input type="text" v-model="Day5Amplitude" class="form-control">
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        最近6天
                                        <input type="text" v-model="Day6Amplitude" class="form-control">
                                    </div>



                                    <div class="col-xs-6 col-md-2">
                                        最大涨幅
                                        <input type="text" v-model="MaxAmplitude" class="form-control">
                                    </div>

                                    <div class="col-xs-6 col-md-2">
                                        今日涨幅
                                        <input type="text" v-model="GainPercent" class="form-control">
                                    </div>

                                    <div class="col-xs-6 col-md-2">
                                        多日涨幅
                                        <input type="text" v-model="NDayAmplitude" class="form-control">
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        与最高差值比例
                                        <input type="text" v-model="GapPercent" class="form-control">
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        与最低差值比例
                                        <input type="text" v-model="GapPercentWithLow" class="form-control">
                                    </div>



                                    <div class="col-xs-6 col-md-4">
                                        排序
                                        <input class="form-control" list="Sort" v-model="Sorter" @@change="SortFunction()" @@click="ClearSofter" placeholder="排序字段" />
                                        <datalist id="Sort">
                                            <option v-for="item in SortItemList" :value="item.value">{{item.key}}</option>
                                        </datalist>
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        过滤
                                        <button v-on:click="clickColumn" type="submit" class="btn btn-success form-control"><i class="fa fa-search"></i>过滤</button>
                                    </div>

                                    <div class="col-xs-6 col-md-1">
                                        过滤
                                        <button v-on:click="AddParaSifter" type="submit" class="btn btn-success form-control"><i class="fa fa-search"></i>增加</button>
                                    </div>
                                    <div class="col-xs-6 col-md-1">
                                        过滤
                                        <button v-on:click="DeleteParaSifter" type="submit" class="btn btn-success form-control"><i class="fa fa-search"></i>删除</button>
                                    </div>
                                    <div class="col-xs-6 col-md-1">
                                        过滤
                                        <button v-on:click="GetSiftParaDataList" type="submit" class="btn btn-success form-control"><i class="fa fa-search"></i>刷新</button>
                                    </div>


                                </div>
                            </div>

                            <div id="toolbar" class="btn-group">
                                <a type="button" href="https://finance.sina.com.cn/realstock/company/sh000001/nc.shtml" target="_blank" class="btn btn-default">
                                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>链接
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-12 oneStock" v-for="(item,index) in filterStockList">

                                <div class="col-xs-12 col-md-12 picture">
                                    <div id="toolbar" class="btn-group">
                                        <button type="button" v-on:click="Show(item.Code,item.Name,item.TradePlace,item.Date,item.Whole_BeatHowMany,item.Tec_BeatHowMany,item.Fund_BeatHowMany,item.Message_BeatHowMany,item.Section_BeatHowMany,item.Basic_BeatHowMany)" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>操作
                                        </button>
                                        <button id="btn_edit" v-on:click="Modify(item.Code)" type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                                        </button>
                                        <button id="btn_delete" v-on:click="DeleteL(item.SelfSelectId)" type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>删除
                                        </button>
                                        <button type="button" v-on:click="ShowLatest(item.Code,item.Date,item.Name)" class="btn btn-default">
                                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>查看
                                        </button>
                                        <a type="button" :href="getStockUrl(item.TradePlace,item.Code)" target="_blank" class="btn btn-default">
                                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>东方财富
                                        </a>
                                        <a type="button" :href="getWencai(item.TradePlace,item.Code)" target="_blank" class="btn btn-default">
                                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>问财
                                        </a>
                                        <a type="button" :href="addSelect(item.TradePlace,item.Code)" target="_blank" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>同花順
                                        </a>
                                        <button v-on:click="Sifter($event)" type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>条件
                                        </button>
                                        @*<a type="button" :href="getTecPara(item.TradePlace,item.Code)" target="_blank" class="btn btn-default">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>技术
        </a>*@
                                        @*<a type="button" :href="getTecParaJson(item.TradePlace,item.Code)" target="_blank" class="btn btn-default">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>Json
        </a>*@
                                        <a type="button" :href="getTecParaHistory(item.TradePlace,item.Code)" target="_blank" class="btn btn-default">
                                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>参数史
                                        </a>
                                        <a type="button" :href="getTrendHistory(item.StocksOwned,item.Code,item.Name)" target="_blank" class="btn btn-default">
                                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>持股信息
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-md-12 sifter sifterControl">
                                        <div class="col-xs-12 col-md-12">
                                            过滤器2
                                            <input class="form-control" list="SiftParaDataId" v-model="filter2" @@dblclick="ClearSiftParaData2" placeholder="a&b@@c|d    &组￥取非" />
                                            <datalist id="SiftParaDataId">
                                                <option v-for="item in SiftParaDataList">{{item.SiftParaData}}</option>
                                            </datalist>


                                        </div>
                                        <div class="col-xs-12 col-md-12">
                                            过滤器
                                            <input class="form-control" list="SiftParaDataId2" v-model="filter" @@dblclick="ClearSiftParaData" placeholder="a&b@@c|d    &组￥取非" />
                                            <datalist id="SiftParaDataId2">
                                                <option v-for="item in SiftParaDataListForThis">{{item.SiftParaData}}</option>
                                            </datalist>
                                        </div>

                                        <div class="col-xs-12 col-md-3">
                                            5日涨幅
                                            <input type="text" v-model="Section_ThisStock_5DayUp" class="form-control">
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            1月涨幅
                                            <input type="text" v-model="Section_ThisStock_1DayUp" class="form-control">

                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            行业排名
                                            <input type="text" v-model="Section_Section_Rank" class="form-control">
                                        </div>


                                        <div class="col-xs-6 col-md-2">
                                            最近1天
                                            <input type="text" v-model="Day1Amplitude" class="form-control">
                                        </div>
                                        <div class="col-xs-6 col-md-2">
                                            最近2天
                                            <input type="text" v-model="Day2Amplitude" class="form-control">
                                        </div>
                                        <div class="col-xs-6 col-md-2">
                                            最近3天
                                            <input type="text" v-model="Day3Amplitude" class="form-control">
                                        </div>
                                        <div class="col-xs-6 col-md-2">
                                            最近4天
                                            <input type="text" v-model="Day4Amplitude" class="form-control">
                                        </div>
                                        <div class="col-xs-6 col-md-2">
                                            最近5天
                                            <input type="text" v-model="Day5Amplitude" class="form-control">
                                        </div>
                                        <div class="col-xs-6 col-md-2">
                                            最近6天
                                            <input type="text" v-model="Day6Amplitude" class="form-control">
                                        </div>


                                        <div class="col-xs-6 col-md-2">
                                            最大涨幅
                                            <input type="text" v-model="MaxAmplitude" class="form-control">
                                        </div>

                                        <div class="col-xs-6 col-md-2">
                                            今日涨幅
                                            <input type="text" v-model="GainPercent" class="form-control">
                                        </div>

                                        <div class="col-xs-6 col-md-2">
                                            多日涨幅
                                            <input type="text" v-model="NDayAmplitude" class="form-control">
                                        </div>

                                        <div class="col-xs-6 col-md-2">
                                            与最高差值比例
                                            <input type="text" v-model="GapPercent" class="form-control">
                                        </div>
                                        <div class="col-xs-6 col-md-2">
                                            与最低差值比例
                                            <input type="text" v-model="GapPercentWithLow" class="form-control">
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            排序
                                            <input class="form-control" list="Sort" v-model="Sorter" @@change="SortFunction()" @@click="ClearSofter" placeholder="排序字段" />
                                            <datalist id="Sort">
                                                @*<option value="GapPercent">最大间隔</option>
                        <option value="NDayAmplitude">N天最大涨幅</option>
                        <option value="GainPercent">今日涨幅</option>*@
                                                <option v-for="item in SortItemList" :value="item.value">{{item.key}}</option>
                                            </datalist>
                                        </div>

                                        <div class="col-xs-6 col-md-2">
                                            过滤
                                            <button v-on:click="clickColumn" type="submit" class="btn btn-success form-control"><i class="fa fa-search"></i>过滤</button>
                                        </div>

                                        <div class="col-xs-6 col-md-1">
                                            过滤
                                            <button v-on:click="AddParaSifter" type="submit" class="btn btn-success form-control"><i class="fa fa-search"></i>增加</button>
                                        </div>
                                        <div class="col-xs-6 col-md-1">
                                            过滤
                                            <button v-on:click="DeleteParaSifter" type="submit" class="btn btn-success form-control"><i class="fa fa-search"></i>删除</button>
                                        </div>
                                        <div class="col-xs-6 col-md-1">
                                            过滤
                                            <button v-on:click="GetSiftParaDataList" type="submit" class="btn btn-success form-control"><i class="fa fa-search"></i>刷新</button>
                                        </div>
                                    </div>

                                    <div style="float:right;font-weight:bold;margin-left:15px" v-on:click="GoDown()"><span class="glyphicon glyphicon-circle-arrow-down">底部</span></div>
                                    <div style="float:right;font-weight:bold" v-on:click="GoBack()">{{index}}/{{TotalCount}}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-circle-arrow-up">顶部</span></div>
                                    <p class="info">
                                        <span>基金代码：{{item.Code}}</span>
                                        <span>基金名称：{{item.Name}}</span>
                                        <span>跟踪指数：{{item.TrackIndex}}</span>
                                        <span>基金公司：{{item.FundCompany}}</span>
                                        <span>基金类型：{{item.FundType}}</span>
                                    </p>
                                    <p class="info">

                                        <span>更新时间：{{jsonDateFormat(item.UpdateTime)}}</span>
                                        <span>基金种类：{{item.Category}}</span>
                                        <span>基金规模：{{ToFix(item.FundScale)}}</span>
                                        <span>管理费率：{{ToFix(item.OperationRate)}}</span>
                                        <span>上市时间：{{jsonDateFormat(item.GoPublicDate)}}</span>
                                    </p>
                                    <p class="info">
                                        <span>当前涨幅：{{ToFix(item.Amplitude)}}</span>
                                        <span>当前价格：{{ToFix(item.Price)}}</span>
                                        <span>当前涨幅：{{ToFix(item.Amplitude)}}</span>
                                        <span>溢价率：{{ToFix(item.PremiumRate)}}</span>
                                        <span>交易金额：{{ToFix(item.DealMoney)}}</span>
                                    </p>
                                    <div><span style="font-weight:bold">(一个月涨幅{{ToFix(item.AmplitudeOneMonth)}})(今年涨幅{{ToFix(item.AmplitudeThisYear)}})（最近一年涨幅{{ToFix(item.AmplitudeLatestOneYear)}}）（最近3年涨幅{{ToFix(item.AmplitudeLatestThreeYear)}}）（最近5年涨幅{{ToFix(item.AmplitudeLatestFiveYear)}}）</span></div>
                                    <div><span>持仓股票：{{item.StocksOwned}}</span><span style="font-weight:bold">{{item.Hot}}</span></div>
                                    <div><span>持仓股票：{{item.StocksOwnedNames}}</span><span style="font-weight:bold">{{item.Hot}}</span></div>
                                </div>

                                <div class="col-xs-6 col-md-3 picture">
                                    <span>月线</span>
                                    <img v-bind:src="getImgUrl(item.Code,'M','-5')" style="width:100%;height:230px" />
                                </div>
                                <div class="col-xs-6  col-md-3 picture">
                                    <span>周线</span>
                                    <img v-bind:src="getImgUrl(item.Code,'W','-5')" style="width:100%;height:230px" />
                                </div>
                                <div class="col-xs-6  col-md-3 picture">
                                    <span>日线</span>
                                    <img v-bind:src="getImgUrl(item.Code,'','-5')" style="width:100%;height:230px" />
                                </div>
                                <div class="col-xs-6  col-md-3 picture">
                                    <span>30分钟线</span>
                                    <img v-bind:src="getImgUrl(item.Code,'M30','-3')" style="width:100%;height:230px" />
                                </div>
                            </div>
                            <div id="targetDown" class="col-xs-12 col-md-12" style="padding-left:0px;padding-right:0px;margin-top:10px;margin-bottom:10px;">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>





@section styles{
    <style>
        .picture {
            padding-left: 0px;
            padding-right: 0px;
        }

        .oneStock {
            border-bottom: dashed 10px #0094ff;
            margin-bottom: 20px;
        }

        .info {
            padding-left: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0px;
        }

        .descpription {
            font-size: 12px;
            margin-bottom: 3px;
        }

        .cl {
            font-size: 10px;
            margin-bottom: 0px;
        }

        .permission-list {
            margin-bottom: 0px;
        }

        #small {
            width: 50px;
            height: 50px;
            background: url('../../wwwroot/image/test/bgs.png') no-repeat -159px -51px;
            position: fixed;
            top: 40%;
            right: 10px;
            z-index: 9999
        }

        .selected {
            color: red;
        }

        #big {
            width: 210px;
            height: 210px;
            position: absolute;
            left: -210px;
            display: none;
            z-index: 9999
        }

        .icon-checked {
            color: red;
        }

        .permission-list {
            border-bottom: 1px solid
        }

        #big img {
            width: 100%;
            height: 100%;
        }

        .sifter {
            display: none;
        }
    </style>
}


@section scripts{


    <script>
        //1.获取页面
        var small = document.getElementById('small');
        var big = document.getElementById('big');

        //2.鼠标移入事件
        small.onmouseover = function () {
            big.style.display = 'block';
        }
        //3.鼠标移出事件
        small.onmouseout = function () {
            big.style.display = "none";
        }
    </script>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {

                  OperationList: [],
                CheckOperationList: [],


                    OperationListDates: [],
                OperationListStrategys: [],
             
                CheckOperationListDates:[],
                CheckOperationListStrategys:[],



                sqlTemp:'',
                datemin: '',
                datemax: '',
                DateWantSee:'',
                stockList: [],
                Conception:'',
                filter: '',
                filter2: '',
                filterStockList:[],
                DicList: [],
                Strategy: '',
                SQLdisplay: '',
                Remark: '',
                Id: '',
                DictName: '',
                DictType: '',
                Section: '',
              StrategyImage:"~/upload/strategy/e7c705e85b284e229037c100f65b4032.png",



                Remark: '',
                flag: true,
                TotalCount: '',
                serverNumber: '',
                InOrAfterTrade: '盘后',
                sql: '',
                DateList: [],
                checkedNames: [],
                CheckSectionList: [],
                width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
                height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight,


                sqlTemp:"",


                       SelfSelectTxt:"",

                Conception_text: '',
                Conception: [],
                Conception_Check: [],


                Section_ThisStock_5DayUp: ">=-1000,<=1000",
                Section_ThisStock_1DayUp: ">=-1000,<=1000",
                Section_Section_Rank: ">=-100,<=1000",
                MaxAmplitude: ">=-12,<=12",
                GainPercent: ">=-12,<=12",
                NDayAmplitude: ">=-50,<=100",

                Day1Amplitude: ">=-11,<=11",
                Day2Amplitude: ">=-11,<=11",
                Day3Amplitude: ">=-11,<=11",
                Day4Amplitude: ">=-11,<=11",
                Day5Amplitude: ">=-11,<=11",
                Day6Amplitude: ">=-11,<=11",
                Day7Amplitude: ">=-11,<=11",
                GapPercent: ">=-20,<=40",
                GapPercentWithLow: ">=-20,<=40",
                SortItemList: [{ "key": "最大间隔", "value": "GapPercent" },{ "key": "N天最大涨幅", "value": "NDayAmplitude" },{ "key": "与最低涨幅", "value": "GapPercentWithLow" },{ "key": "今日涨幅", "value": "GainPercent" }],
                Sorter: "",

                SiftParaDataList:"",
                SiftParaDataListForThis: "",

                procedurelist: [],
                procedure:"",


            },
            mounted: function () {
                var _self = this;
                _self.$nextTick(function () {
                    //显示active
                    _self.$refs.StockFundSelfSelectView.parentNode.parentNode.classList.add("active");
                    _self.$refs.StockFundSelfSelectView.classList.add("active");
                    //_self.GetDicList();
                    //_self.GetProcedure();
                    _self.GetOperationList();

                      _self.GetOperationListDates();
                    //_self.GetDateList();
                    _self.$refs.datemin.value = _self.getYesterday();
                    _self.$refs.datemax.value = _self.getYesterday();
                    _self.$refs.DateWantSee.value = _self.getYesterday();

                    $('#datemin').datetimepicker({
                        format: 'yyyy-mm-dd',
                        minView: 2,
                        autoclose: true,
                        language: "en-us",
                        pickerPosition: 'bottom-right'
                    });


                    $('#datemax').datetimepicker({
                        format: 'yyyy-mm-dd',
                        minView: 2,
                        autoclose: true,
                        language: "en-us",
                        pickerPosition: 'bottom-right'
                    });
                    $('#DateWantSee').datetimepicker({
                        format: 'yyyy-mm-dd',
                        minView: 2,
                        autoclose: true,
                        language: "en-us",
                        pickerPosition: 'bottom-right'
                    });
                    setTimeout(function () {
                        //_self.searchL();
                        $("#Indicator").css({ "background": "white" });
                    }, 500);
                });
            },
            watch: {
                Strategy(val, oldval) {
                    var _self = this;
                    _self.DicList.forEach(function (item, index) {
                        if (item.DictId== val) {
                            _self.Id = item.DictId;
                            _self.DictName = item.DictName;
                            _self.DictType = item.DictType;
                            _self.Remark = item.Remark;
                            _self.SQLdisplay = item.SQL;
                            _self.sqlTemp = _self.SQLdisplay;
                        }
                    });
                    //Remark = val
                },

            },


            methods: {
                Sifter: function (e) {
                    $(e.target).parents(".picture").children(".sifterControl").toggleClass("sifter");
                },
                GoBack: function() {
                    target.scrollIntoView();
                },
                ToFix: function(value) {
                   return value.toFixed(3);
                },

               GoDown: function() {
                    targetDown.scrollIntoView();
                },
                GetImage: function (strategyId) {
                    var _self = this;

                    _self.DicList.forEach(function (item, index) {
                        if (item.DictId == strategyId) {
                            res = item.StrategyImg;
                            res = res.replace(/\\/g,'/');
                            _self.StrategyImage = res;
                             //console.log(_self.StrategyImage);
                            return res;
                       }
                   })
                },
                SortFunction: function () {
                    var _self = this;
                    _self.sortKey(_self.filterStockList,_self.Sorter);

                },
                sortKey: function (array,key) {
                      return array.sort(function(a,b){
                          var x = a[key];
                          var y = b[key];
                          return ((y<x)?-1:(x>y)?1:0)   //从小到大排序
                    })
                 },

                WantSee: function () {
                    var _self = this;
                    var data = {
                        datemin: _self.$refs.datemin.value,
                        datemax: _self.$refs.datemax.value,
                        DateWantSee: _self.$refs.DateWantSee.value,
                        StrategyId: _self.Strategy,
                        StrategyIdList: _self.checkedNames,
                        InOrAfterTrade: _self.InOrAfterTrade,
                        Section: _self.Section,
                        sql: _self.SQLdisplay,
                    };
                    $("#Indicator").css({ "background": "#f39c12" });
                    yui.$axiospostform('/Stock/GetDataWantSeeBBySql', data).then(function (response) {
                        _self.stockList = response.data.list;
                        _self.sql = response.data.sql;
                        console.log(_self.stockList);
                        //把中期趋势
                        _self.filterStockList = _self.stockList;
                        _self.serverNumber = _self.stockList.length;
                        _self.TotalCount = _self.filterStockList.length;
                        if (_self.sql.indexOf("错误") != -1) {
                            layer.msg("SQL错误" || errorMsg, { icon: 5 });
                            $("#Indicator").css({ "background": "red" });

                        } else {
                            layer.msg("搜索完成", { icon: 1, time: 1000 });
                            $("#Indicator").css({ "background": "#7bd4d4" });
                        }

                    }).catch(function (error) {
                        console.info(error);
                    });

                },
                UpdateStocksTemp: function () {
                    var _self = this;
                    var data = {
                        datemin: _self.$refs.datemin.value,
                        datemax: _self.$refs.datemax.value,
                        Procedure: _self.procedure,
                    };
                    $("#Indicator").css({ "background": "#f39c12" });
                    yui.$axiospostform('/Stock/UpdateStocksTemp', data).then(function (response) {
                        if (response.data=='True') {
                            layer.msg("执行完成", { icon: 1, time: 1000 });
                            $("#Indicator").css({ "background": "#7bd4d4" });
                        } else {
                            layer.msg("执行失败" || errorMsg, { icon: 5 });
                            $("#Indicator").css({ "background": "red" });
                        }

                    }).catch(function (error) {
                        console.info(error);
                    });

                },


                  ClearSiftParaData2: function () {
                    var _self = this;
                    _self.filter2 = '';

                },
                     ClearSiftParaData: function () {
                    var _self = this;
                    _self.filter = '';

                },



               ClearSofter: function () {
                   var _self = this;
                    _self.Sorter = '';
                },

                addSelect: function (TradePlace, Code) {
                    //var url = 'http://stockpage.10jqka.com.cn/spService/' + Code + '/Header/selfStockAdd';
                    var url = 'http://stock.10jqka.com.cn/self.php?stockcode=' + Code + '&op=add&&jsonp=jQuery1830004172045065825136_1595810971471&_=1595811031587';
                    return url;
                },

                     checkAllOperation: function () {
                    var _self = this;
                    _self.OperationList.forEach(function (item, index) {
                        if (_self.CheckOperationList.indexOf(item.Operation) < 0) {
                            _self.CheckOperationList.push(item.Operation);
                        }
                    });
                },
                RemoveAllOperation: function () {
                    var _self = this;
                    _self.CheckOperationList = [];
                },



                  checkAllOperationDate: function () {
                    var _self = this;
                    _self.OperationListDates.forEach(function (item, index) {
                        if (_self.CheckOperationListDates.indexOf(item.CreateDate) < 0) {
                            _self.CheckOperationListDates.push(item.CreateDate);
                        }
                    });
                },
                RemoveAllOperationDate: function () {
                    var _self = this;
                    _self.CheckOperationListDates = [];
                },


                          checkAllOperationStrategy: function () {
            var _self = this;
            _self.OperationListStrategys.forEach(function (item, index) {
                if (_self.CheckOperationListStrategys.indexOf(item.Strategy) < 0) {
                    _self.CheckOperationListStrategys.push(item.Strategy);
                }
            });
        },
        RemoveAllOperationStrategy: function () {
            var _self = this;
            _self.CheckOperationListStrategys = [];
        },



                getImgUrl: function (number, lenth,scale) {
                        if (number.substr(0, 1)=='1') {
                        number ="0."+number;
                    }
                     if (number.substr(0, 1)=='5') {
                         number ="1."+number;
                    }
                    var url="http://webquoteklinepic.eastmoney.com/GetPic.aspx?nid="+number+"&type="+lenth+"&unitWidth="+scale+"&ef=&formula=RSI&imageType=KXL";
                    return url;
                },


                GetOperationList: function () {
                    var _self = this;

                      var data = {
                        IsStock: 0,
                        
                    };
                    yui.$axiospostform('/SelfSelect/OperationList', data).then(function (response) {
                        _self.OperationList = response.data;
                        console.info(response.data);
                    }).catch(function (error) {
                        console.info(error);
                    });
                },



                        GetOperationListDates: function () {
                    var _self = this;

                      var data = {
                        IsStock: 0,

                    };
                    yui.$axiospostform('/SelfSelect/OperationListDates', data).then(function (response) {
                        _self.OperationListDates = response.data;
                        console.log( _self.OperationListDates);
                    }).catch(function (error) {
                        console.info(error);
                    });
                },

               handleLabelClick: function () {
                    var _self = this;

                      var data = {
                        CreateDates:  _self.CheckOperationListDates,
                        IsStock:0
                    };
                     console.log( _self.CheckOperationListDates);

                    yui.$axiospostform('/SelfSelect/OperationListStrategys', data).then(function (response) {
                        _self.OperationListStrategys = response.data;
                        // console.log( _self.OperationListStrategys);
                    }).catch(function (error) {
                        console.info(error);
                    });
                },


                         handleStategyLabelClick: function () {
            var _self = this;

              var data = {
                CreateDates:  _self.CheckOperationListDates,
                 Strategys:  _self.CheckOperationListStrategys,
                 IsStock:0
            };
             console.log( _self.CheckOperationListDates);

            yui.$axiospostform('/SelfSelect/OperationListOperations', data).then(function (response) {
                _self.OperationList = response.data;
                // console.log( _self.OperationListStrategys);
            }).catch(function (error) {
                console.info(error);
            });
        },


                Refresh: function () {
                    var _self = this;
                    yui.$axiospost('/SelfSelect/OperationList', null).then(function (response) {
                        _self.OperationList = response.data;
                        layer.msg('刷新成功', { icon: 1, time: 1000 });
                    }).catch(function (error) {
                        console.info(error);
                    });
                },


                filterFunction: function () {
                    var _self = this;
                    if (_self.filter == "" && _self.filter2 == "") {
                        _self.filterStockList = [];
                        if (typeof (_self.stockList) != "undefined") {
                            _self.stockList.forEach(function (item, index) {

                                var content = _self.GetProperty(item);

                                  _self.filterStockList.push(item);
                            });
                            _self.TotalCount = _self.filterStockList.length;
                        }
                        return;
                    }

                    var and = [];
                    if (_self.filter.indexOf("&") != -1) {
                        and = _self.filter.split("@@")[0].split("&");
                    } else {
                        var temp = _self.filter.split("@@")[0];
                        if (temp != '') {
                            and.push(temp);
                        }
                    }


                    var and2 = [];
                    if (_self.filter2.indexOf("&") != -1) {
                        and2 = _self.filter2.split("@@")[0].split("&");
                    } else {
                        var temp2 = _self.filter2.split("@@")[0];
                        if (temp2 != '') {
                            and2.push(temp2);
                        }
                    }

                    var or = [];
                    if (_self.filter.indexOf("|") != -1) {
                        or = _self.filter.split("@@")[1].split("|");
                    } else {
                        var temp = _self.filter.split("@@")[1];
                        if (temp != '') {
                            or.push(temp);
                        }
                    }

                    var or2 = [];
                    if (_self.filter2.indexOf("|") != -1) {
                        or2 = _self.filter2.split("@@")[1].split("|");
                    } else {
                        var temp2 = _self.filter2.split("@@")[1];
                        if (temp2 != '') {
                            or2.push(temp2);
                        }
                    }
                    _self.filterStockList = [];
                    _self.stockList.forEach(function (item, index) {
                        flagAnd = 1;
                        flagOr = 0;
                        flagAnd2 = 1;
                        flagOr2 = 0;
                        flagScore = 0;

                        var content = _self.GetProperty(item);
                        and.forEach(function (anditem, index) {
                            //只要一个不存在就不行

                            if (anditem.indexOf("￥") != -1) {
                                anditemProcessed = anditem.replace(/￥/g, "");
                                if (content.indexOf(anditemProcessed) != -1)
                                    flagAnd = 0;
                            } else {
                                if (content.indexOf(anditem) == -1)
                                    flagAnd = 0;
                            }
                        });

                        or.forEach(function (oritem, index) {
                            //只要存在一个就好
                            if (content.indexOf(oritem) != -1)
                                flagOr = 1;
                        });
                        if (or.length<=0) {
                            flagOr = 1;
                        }
                        if (_self.filter=='') {
                            flagOr = 1;
                            flagAnd = 1;
                        }


                        and2.forEach(function (anditem, index) {
                            //只要一个不存在就不行

                            if (anditem.indexOf("￥") != -1) {
                                anditemProcessed2 = anditem.replace(/￥/g, "");
                                if (content.indexOf(anditemProcessed2) != -1)
                                    flagAnd2 = 0;
                            } else {
                                if (content.indexOf(anditem) == -1)
                                    flagAnd2 = 0;
                            }
                        });

                        or2.forEach(function (oritem, index) {
                            //只要存在一个就好
                            if (content.indexOf(oritem) != -1)
                                flagOr2 = 1;
                        });
                        if (or2.length <= 0) {
                            flagOr2 = 1;
                        }

                        if (_self.filter2 == '') {
                            flagOr2 = 1;
                            flagAnd2 = 1;
                        }

                        if (flagAnd && flagOr && flagAnd2 && flagOr2  ) {
                            _self.filterStockList.push(item);
                        }
                    });
                    _self.TotalCount = _self.filterStockList.length;
                },


                CheckScore: function (score, condition) {
                    var temp = condition.replace(/>=/g, "").replace(/<=/g, "").split(',');
                    var a = temp[0];
                    var b = temp[1];
                    if (score >= Number(temp[0]) && score <= Number(temp[1])) {
                        return true;
                    } else {
                        return false;
                    }

                },

                  CheckScore2: function (score, condition) {
                    var temp = condition.replace(/>=/g, "").replace(/<=/g, "").split(',');
                    var a = temp[0];
                    var b = temp[1];
                    if (score >= Number(temp[0]) && score <= Number(temp[1])) {
                        return true;
                    } else {
                        return false;
                    }

                },

                CheckExist: function (content, condition) {
                    if (condition == '') {
                        return true;
                    }
                    if (content.indexOf(condition)!=-1) {
                        return true;
                    } else {
                        return false;
                    }

                },


               GetProperty: function (obj) {
                var props = "";
                // 开始遍历
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        props += p + "=" + obj[p] + "\t";
                    }
                }
                   // 最后显示所有的属性

                   return props.toLowerCase();

             },

                clickColumn: function () {
                    var _self = this;
                    _self.filterFunction();
                    var command = "";

                    _self.SQLdisplay = _self.sqlTemp.replace(/command/g, command);

                },
                processSql(v_text, v_Check, v,table) {
                    var final = "";
                    if (v_text == '') {
                        v_Check.forEach(function (item, index) {
                            var temp = "and " + table+"."+v+" REGEXP   '.*" + item + ".*' \n";
                            final = final + temp;
                        });
                    } else {
                        var and = [];
                        if (v_text.indexOf("&") != -1) {
                            and = v_text.split("-")[0].split("&");
                        } else {
                            var temp = v_text.split("-")[0];
                            if (temp != '') {
                                and.push(temp);
                            }

                        }

                        and.forEach(function (item, index) {
                            var temp = "and " + table + "." +v+" REGEXP   '.*" + item + ".*' \n";
                            final = final + temp;
                        });

                        var or = [];
                        if (v_text.indexOf("|") != -1) {
                            or = v_text.split("-")[1].split("|");
                        } else {
                            var temp = v_text.split("-")[1];
                            if (temp != '') {
                                or.push(temp);
                            }
                        }
                        if (or.length > 0) {
                            var sqltemp1 = "and " + table + "." +  v +" REGEXP '";
                            var temp1 = "";
                            or.forEach(function (item, index) {
                                temp1 = temp1 + ".*" + item + ".*|";
                            });
                            temp1 = temp1.substring(0, temp1.length - 1)
                            final = final + sqltemp1 + temp1 + "' \n";
                        }
                    }
                    return final;
                },
                clickMe(id) {
                    var _self = this;
                    _self.GetImage(id);
                    _self.DicList.forEach(function (item, index) {
                        if (item.DictId == id) {
                            _self.Id = item.DictId;
                            _self.DictName = item.DictName;
                            _self.DictType = item.DictType;
                            _self.Remark = item.Remark;
                            _self.SQLdisplay = item.SQL;

                            _self.Strategy = _self.Id;
                        }
                    });

                    _self.GetSiftParaDataList();


                },
                checkAll: function () {
                    var _self = this;
                    _self.DicList.forEach(function (item, index) {
                        if (_self.checkedNames.indexOf(item.DictId) < 0) {
                            _self.checkedNames.push(item.DictId);
                        }
                    });
                },
                RemoveAll: function () {
                    var _self = this;
                    _self.checkedNames = [];
                    _self.Strategy = '';

                },



                GetDicList: function () {
                    var _self = this;
                   var data = {
                        dictType: "2",
                    };
                    yui.$axiospostform('/Dict/GetDicList', data).then(function (response) {
                        _self.DicList = response.data;

                        _self.DicList.sort(
                            (function (a, b) {
                                res = Number(a.DictName.split('-')[0]) - Number(b.DictName.split('-')[0]);
                                return res;
                            })
                        );

                    }).catch(function (error) {
                        console.info(error);
                    });
                },

                GetProcedure: function () {
                    var _self = this;
                    yui.$axiospost('/Fund/GetProcedure', null).then(function (response) {
                        _self.procedurelist = response.data;

                    }).catch(function (error) {
                        console.info(error);
                    });
                },

                GetSiftParaDataList: function () {
                    var _self = this;
                    var data = {
                        StrategyId: _self.Strategy,
                         StockOrFund:"fund"
                    };
                    yui.$axiospostform('/SelfSelect/GetSiftParaData', data).then(function (response) {
                        console.log(response.data);
                        _self.SiftParaDataList =[];
                        response.data.forEach(function (item, index) {
                            if (item.StrategyId == 9999 || item.StrategyId == 0) {
                                _self.SiftParaDataList.push(item);
                            }
                        });
                        _self.SiftParaDataListForThis = [];
                        response.data.forEach(function (item, index) {
                            if (item.StrategyId == _self.Strategy) {
                                _self.SiftParaDataListForThis.push(item);
                            }
                        });


                    }).catch(function (error) {
                        console.info(error);
                    });
                },

              AddParaSifter: function () {
                   var _self = this;
                    var index = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                   var data = {
                       siftParaData: _self.filter2,
                       StrategyId: _self.Strategy,
                       StockOrFund:"fund"
                    };
                    yui.$axiospostform('/SelfSelect/AddSiftParaData', data)
                        .then(function (response) {
                            if (response.data.Item1 === 101) {
                                layer.tips(response.data.Item2, '.layui-layer-setwin', {
                                    tips: [1, '#3595CC'],
                                    time: 3000
                                });
                                layer.close(index);
                                return false;
                            }
                            if (response.data.Item1) {
                                layer.msg(response.data.Item2, { icon: 1, time: 1000 });
                                setTimeout(function () {
                                    yui.layer_close3();
                                }, 500);
                            } else {
                                layer.msg(response.data.Item2 || errorMsg, { icon: 5 });
                            }
                            layer.close(index);
                            _self.GetSiftParaDataList();
                        })
                        .catch(function (error) {
                            layer.close(index);
                        });
                },

                    DeleteParaSifter: function () {
                   var _self = this;
                    var index = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                   var data = {
                       siftParaData: _self.filter2,
                       StrategyId: _self.Strategy
                    };
                    yui.$axiospostform('/SelfSelect/DeleteSiftParaData', data)
                        .then(function (response) {
                               if (response.data.Item1 === 101) {
                                layer.tips(response.data.Item2, '.layui-layer-setwin', {
                                    tips: [1, '#3595CC'],
                                    time: 3000
                                });
                                layer.close(index);
                                return false;
                            }
                            if (response.data.Item1) {
                                layer.msg(response.data.Item2, { icon: 1, time: 1000 });
                                setTimeout(function () {
                                    yui.layer_close3();
                                }, 500);
                            } else {
                                layer.msg(response.data.Item2 || errorMsg, { icon: 5 });
                            }
                            layer.close(index);
                            _self.GetSiftParaDataList();

                        })
                        .catch(function (error) {
                            layer.close(index);
                        });
                },

               ShowLatest: function (stock, date, Name) {
                    var _self = this;
                    var recommenddate = _self.jsonDateFormat(date);
                    yui.layershow(Name, "/Stock/LatestInfoView?Code=" + stock + "&Date=" + recommenddate, _self.width * 0.8, _self.height * 0.8);
                },
                Modify: function (Code) {
                    var _self = this;
                    var data = {
                        Code: Code,
                    };
                    yui.$axiospostform('/SelfSelect/GetSelfSelectId', data).then(function (response) {
                        var SelfSelectId = response.data.replace('A','');
                        var index = layer.confirm("您确定要修改吗？", { btn: ["确定", "取消"] }, function () {
                            layer.close(index);
                            var id = SelfSelectId;
                            yui.layershow("修改自选", "/SelfSelect/AddManual?id=" + id, _self.width * 0.8, _self.height * 0.8);
                        }, function () {
                        });
                    }).catch(function (error) {
                        console.info(error);
                    });


                },
                Emphasis: function (content) {
                    var _self = this;
                    var array = ['####','周线'];
                    var res = content;
                    array.forEach(function (item, index, currentArray) {
                        //var temp = _self.jsonDateFormat(item.Date).split(' ')[0].split('-')[2];
                        //_self.DateList.push(temp);
                        if (content.indexOf(item) >= 0) {
                            var reg = new RegExp(item, "g");//g,表示全部替换。
                            if (item == '周线') {
                                res = res.replace(reg, '<span style="color:red;font-weight:bold">' + item + '</span>');
                            } else {
                                res = res.replace(reg, '<span style="color:blue;font-weight:bold">' + item + '</span>');
                            }
                            //res = res.replace(reg, '【' + item + '】');g
                        }



                    });
                    return res;
                },

                GetRealTimePrice: function (TradePlace,Code) {
                    var _self = this;
                    var res = "unknown";
                    yui.$axiosget('/SinaApi?code=' + TradePlace + Code)
                        .then(function (response) {
                            var arr = response.data.split(',')[3];
                            //console.log(arr);
                            res = arr;
                        })
                        .catch(function (error) {
                        });

                    return res;
                },

                GetDateList: function () {
                    var _self = this;
                    yui.$axiospost('/Stock/DateList', null).then(function (response) {
                        var thisdate= response.data;
                        thisdate.forEach(function (item, index, currentArray) {
                            var temp = _self.jsonDateFormat(item.Date).split(' ')[0].split('-')[2];
                            _self.DateList.push(temp);
                        });
                    }).catch(function (error) {
                        console.info(error);
                    });
                },
                EnableEdit: function () {
                    var _self = this;
                    if (_self.flag) {
                        $(".mytext").attr("readonly", true);
                        _self.flag = false;
                    }else{
                        $(".mytext").attr("readonly", false);
                        _self.flag = true;
                    }
                },
                SaveAsStrategy: function () {
                    var _self = this;
                    layer.prompt({ title: '策略名称', formType: 2 }, function (text, index) {
                        var data = {
                            id: "",
                            DictName: text,
                            DictType: "2",
                            Remark: _self.Remark,
                            SQL: _self.SQLdisplay,
                            PreId: _self.Id,
                        };
                        yui.$axiospostform('/Dict/AddOrUpdate', data)
                            .then(function (response) {
                                if (response.data.Item1 === 101) {
                                    layer.tips(response.data.Item2, '.layui-layer-setwin', {
                                        tips: [1, '#3595CC'],
                                        time: 3000
                                    });
                                    layer.close(index);
                                    return false;
                                }
                                if (response.data.Item1) {
                                    _self.GetDicList();
                                    $(".mytext").attr("readonly", true);
                                    layer.msg(response.data.Item2, { icon: 1, time: 1000 });
                                    setTimeout(function () {
                                        yui.layer_close3();
                                    }, 500);
                                } else {
                                    layer.msg(response.data.Item2 || errorMsg, { icon: 5 });
                                }
                            })
                            .catch(function (error) {
                                layer.msg('策略保存失败！');
                            });
                        layer.close(index);
                        layer.msg('策略保存成功！');
                    });
                },
                SaveStrategy: function () {
                    var _self = this;
                    var data = {
                        id: _self.Id,
                        DictName: _self.DictName,
                        DictType: _self.DictType,
                        Remark: _self.Remark,
                        SQL: _self.SQLdisplay
                    };
                    yui.$axiospostform('/Dict/AddOrUpdate', data)
                        .then(function (response) {
                            if (response.data.Item1 === 101) {
                                layer.tips(response.data.Item2, '.layui-layer-setwin', {
                                    tips: [1, '#3595CC'],
                                    time: 3000
                                });
                                layer.close(index);
                                return false;
                            }
                            if (response.data.Item1) {
                                _self.GetDicList();
                                $(".mytext").attr("readonly", true);
                                layer.msg(response.data.Item2, { icon: 1, time: 1000 });
                                setTimeout(function () {
                                    yui.layer_close3();
                                }, 500);
                            } else {
                                layer.msg(response.data.Item2 || errorMsg, { icon: 5 });
                            }
                        })
                        .catch(function (error) {

                        });
                },
                 searchL: function () {
                    var _self = this;
                    var data = {
                        datemin: _self.$refs.datemin.value,
                        datemax: _self.$refs.datemax.value,
                        FavorType: _self.FavorType,
                        stock: _self.stock,
                        CheckOperationList: _self.CheckOperationList,
                        IsStock: 0,
                         SelectedDates:_self.CheckOperationListDates
                    };
                    $("#Indicator").css({ "background": "#f39c12" });
                    yui.$axiospostform('/Stock/GetFundSelfSelectView', data).then(function (response) {
                        _self.stockList = response.data;
                        //console.log(_self.stockList);
                        _self.filterStockList = _self.stockList;
                        _self.serverNumber = _self.stockList.length;
                        _self.TotalCount = _self.filterStockList.length;
                        $("#Indicator").css({ "background": "#7bd4d4" });

                    }).catch(function (error) {
                        console.info(error);
                    });
                },
                getDayImgUrl: function (number) {
                    if (number.substr(0, 1)=='1') {
                        number = "0."+number;
                    }
                     if (number.substr(0, 1)=='5') {
                        number = "1."+number;
                    }
                    var url = "http://webquoteklinepic.eastmoney.com/GetPic.aspx?nid="+number+"&type=&unitWidth=-6&ef=&formula=RSI&imageType=KXL";
                    return url;
                },
                getWeekImgUrl: function (number) {
                      if (number.substr(0, 1)=='1') {
                        number = "0."+number;
                    }
                     if (number.substr(0, 1)=='5') {
                        number = "1."+number;
                    }
                    var url = "http://webquoteklinepic.eastmoney.com/GetPic.aspx?nid="+number+"&type=W&unitWidth=-6&ef=&formula=RSI&imageType=KXL";
                    return url;
                },
                getMonthImgUrl: function (number) {
                      if (number.substr(0, 1)=='1') {
                        number = "0."+number;
                    }
                     if (number.substr(0, 1)=='5') {
                        number = "1."+number;
                    }
                    var url = "http://webquoteklinepic.eastmoney.com/GetPic.aspx?nid="+number+"&type=M&unitWidth=-6&ef=&formula=RSI&imageType=KXL";
                    return url;
                },
                getMinImgUrl: function (number) {
                      if (number.substr(0, 1)=='1') {
                        number =number+"2";
                    }
                     if (number.substr(0, 1)=='5') {
                         number =number+"1";
                    }
                    var url = "http://webquotepic.eastmoney.com/GetPic.aspx?id="+number+"&imageType=rf";
                    return url;
                },
                getWencai: function (place, number, lenth) {
                    var url = "http://www.iwencai.com/stockpick/search?w=" + number + "#right_nav_62";
                    return url;
                },
                 getTecPara: function (place, number, lenth) {
                     var url = "http://www.iwencai.com/stockpick/search?typed=1&preParams=&ts=1&f=1&qs=index_rewrite&selfsectsn=&querytype=&searchfilter=&tid=stockpick&w=" + number + " 选股新动向";
                    return url;
                },
                     getTecParaJson: function (place, number, lenth) {
                     var url = "http://www.iwencai.com/diag/block-detail?pid=11295&codes="+number+"&codeType=stock&info=%7b%22view%22%3a%7b%22nolazy%22%3a1%2c%22parseArr%22%3a%7b%22_v%22%3a%22new%22%2c%22staying%22%3a%5b%5d%2c%22queryCompare%22%3a%5b%5d%2c%22comparesOfIndex%22%3a%5b%5d%7d%2c%22asyncParams%22%3a%7b%22tid%22%3a9271%7d%7d%7d";
                    return url;
                },
                getTecParaHistory: function (place, number, lenth) {
                    var url = "/Stock/QueryInfoTecPara?Code=" + number;
                    return url;
                },
                  getTrendHistory: function (stocks,code,name) {
                    var url = "/Stock/FundStockOwned?stocks=" + stocks+"&info=" + code+"-"+name;

                    var url11= "https://fundf10.eastmoney.com/ccmx_"+code+".html"
                    return url11;
                },
                getStockUrl: function (place, number, lenth) {
               // var url = "http://quote.eastmoney.com/"  + number + ".html";
                 // https://so.eastmoney.com/web/s?keyword=159857
                var url = "https://so.eastmoney.com/web/s?keyword="  + number;
             
                    return url;
                },

                //item.Code, item.Name, item.TradePlace, item.Date

            //< span > 整体：< br /> {{ item.Whole_BeatHowMany }}</span >
            //<span>技术：<br />{{ item.Tec_BeatHowMany }}</span>
            //<span>资金：<br />{{ item.Fund_BeatHowMany }}</span>
            //<span>消息：<br />{{ item.Message_BeatHowMany }}</span>
            //<span>行业：<br />{{ item.Section_BeatHowMany }}</span>
            //<span>基本：<br />{{ item.Basic_BeatHowMany }}</span>
                Show: function (Code, Name, TradePlace, Date, Whole_BeatHowMany, Tec_BeatHowMany, Fund_BeatHowMany, Message_BeatHowMany, Section_BeatHowMany, Basic_BeatHowMany) {
                    var _self = this;
                    var recommenddate = _self.jsonDateFormat(Date);
                    yui.$axiosget('/SelfSelect/AskIfAddedToday?Code=' + Code)
                        .then(function (response) {
                            if (response.data.Item1) {
                                var index = layer.confirm(response.data.Item2+"。确认新增修改?", { btn: ["确认", "取消"] }, function () {
                                    layer.close(index);
                                    yui.layershow("添加自选", "/SelfSelect/Add?IsStock=0&StockNumber=" + Code + "&StockName=" + Name + "&TradePlace=" + TradePlace + "&Date=" + recommenddate + "&Whole_BeatHowMany=" + Whole_BeatHowMany + "&Tec_BeatHowMany=" + Tec_BeatHowMany + "&Fund_BeatHowMany=" + Fund_BeatHowMany + "&Message_BeatHowMany=" + Message_BeatHowMany + "&Section_BeatHowMany=" + Section_BeatHowMany + "&Basic_BeatHowMany=" + Basic_BeatHowMany, _self.width * 0.8, _self.height * 0.8);
                                }, function () {
                                });

                            } else {
                                yui.layershow("添加自选", "/SelfSelect/Add?IsStock=0&StockNumber=" + Code + "&StockName=" + Name + "&TradePlace=" + TradePlace + "&Date=" + recommenddate + "&Whole_BeatHowMany=" + Whole_BeatHowMany + "&Tec_BeatHowMany=" + Tec_BeatHowMany + "&Fund_BeatHowMany=" + Fund_BeatHowMany + "&Message_BeatHowMany=" + Message_BeatHowMany + "&Section_BeatHowMany=" + Section_BeatHowMany + "&Basic_BeatHowMany=" + Basic_BeatHowMany, _self.width * 0.8, _self.height * 0.8);
                            }
                        })
                        .catch(function (error) {
                            layer.msg(error.message, { icon: 5 });
                        });
                },
                DeleteL: function (selfSelectId) {
                    var _self = this;
                    console.log(selfSelectId);
                        var index = layer.confirm("您确定要删除吗？", { btn: ["确定", "取消"] }, function () {
                            yui.$axiosget('/Fund/Delete?selfSelectId=' + selfSelectId)
                                .then(function (response) {
                                    if (response.data.Item1) {
                                        layer.msg(response.data.Item2 || errorMsg, { icon: 1 });
                                        //_self.searchL();
                                    } else {
                                        layer.msg(response.data.Item2 || errorMsg, { icon: 5 });
                                    }
                                })
                                .catch(function (error) {
                                    layer.msg(error.message, { icon: 5 });
                                });
                            layer.close(index);
                        });
                    
                },

                    deleteOperation: function () {
                    var _self = this;
                    var index = layer.confirm("您确定要删除该分类全部吗？", { btn: ["确定", "取消"] }, function () {
                        var data = {
                            CheckOperationList: _self.CheckOperationList,
                        };
                        yui.$axiospostform('/SelfSelect/DeleteSelectOperation', data).then(function (response) {
                            if (response.data.Item1) {
                                layer.msg(response.data.Item2 || errorMsg, { icon: 1 });
                                _self.Refresh();
                            } else {
                                layer.msg(response.data.Item2 || errorMsg, { icon: 5 });
                            }

                        }).catch(function (error) {
                            console.info(error);
                        });
                    });
                },



                        GetTonghuashunList1: function () {
            var _self = this;
            var text = _self.SelfSelectTxt;

            // 更新后的匹配规则：匹配以sh或sz开头，后跟6位数字
            var re = /\b(?:sh|sz)(\d{6})\b/gi;

            var codeList = [];
            var match;

            while ((match = re.exec(text)) !== null) {
                var sixDigitCode = match[1]; // 提取6位数字
                codeList.push({ Code: sixDigitCode, IsStock: 0, Type: "A" });
            }

            // 去重
            codeList = codeList.filter(
                (item, index, self) =>
                    index === self.findIndex((t) => t.Code === item.Code)
            );

            // 打包数据
            var data = {
                CodeLists: codeList,
            };

            console.log(data);

            // 发送数据到后端
            yui.$axiospostform('/SelfSelect/AddSelfFundList', data)
                .then(function (response) {
                    if (response.data.Item1) {
                        layer.msg(response.data.Item2 || "操作成功", { icon: 1 });
                        _self.Refresh();
                    } else {
                        layer.msg(response.data.Item2 || "操作失败", { icon: 5 });
                    }
                })
                .catch(function (error) {
                    console.error(error);
                    layer.msg("请求失败，请稍后重试。", { icon: 5 });
                });
        },

                        GetTonghuashunList: function () {
            var _self = this;
            var text = _self.SelfSelectTxt;

            // 更新后的匹配规则：仅匹配独立的6位数字，无论是否带有前缀
            var re = /(?:^|\D)(\d{6})(?!\d)/g;

            var codeList = [];
            var match;

            // 使用正则表达式提取所有符合条件的代码
            while ((match = re.exec(text)) !== null) {
                var sixDigitCode = match[1]; // 提取6位数字
                // 设置Type为默认值，例如 "A"
                codeList.push({ Code: sixDigitCode, IsStock: 0, Type: "A" });
                console.log("匹配到的6位数字代码:", sixDigitCode);
            }

            // 去重，确保每个Code唯一
            codeList = codeList.filter(
                (item, index, self) =>
                    index === self.findIndex((t) => t.Code === item.Code)
            );

            // 打包数据
            var data = {
                CodeLists: codeList,
            };

            console.log("提取到的CodeList:", codeList);

            // 发送数据到后端
            yui.$axiospostform('/SelfSelect/AddSelfFundList', data)
                .then(function (response) {
                    if (response.data.Item1) {
                        layer.msg(response.data.Item2 || "操作成功", { icon: 1 });
                        _self.Refresh();
                    } else {
                        layer.msg(response.data.Item2 || "操作失败", { icon: 5 });
                    }
                })
                .catch(function (error) {
                    console.error(error);
                    layer.msg("请求失败，请稍后重试。", { icon: 5 });
                });
        },




            }
        });
    </script>
}

